* {
  margin: 50;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  align-content: center;

}

body {
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  align-items: center;
}

header {
  background-color: #5421a7;
  color: white;
  padding: 20px 0;
  text-align: center;
}

section {
  margin: 40px 0;
}

h2 {
  color: #5421a7;
  margin-bottom: 10px;
}

img {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;

}

.project {
  margin-top: 20px;
}

.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#resume a {
  text-decoration: none;
  color: #ffffff;
  background-color: #5421a7;
  padding: 20px 30px;
  border-radius: 6px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 40px;
}
